
@{
    ViewBag.Title = "JustOnceView";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sorry, ale tipovat můžeš jen jednou a ty už si očividně tipoval.</h2>

<h3>Ale když se tak koukám na ty tvoje tipy tak se nedivím, že to chceš změnit :D </h3>

