@using Microsoft.AspNet.Identity
@using TipTournament.Controllers
@using TipTournament.Models

@{
    ViewBag.Title = "SetPayment";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>SetPayment</h2>
<div class="datagrid">
    <table>
        <tbody>
        @{ int index = 1; }

            @foreach (var user in ViewBag.Users.GetUsers() as List<ApplicationUser>)
            {
                if (index == 0)
                {
                    <tr>
                        <td>
                            @user.UserName
                        </td>
                            
                        @if (!PayedController.Payed(user.Id))
                        {
                            <td> @Html.ActionLink("Zaplaceno", "SubmitPayment", "Admin", routeValues: new {userId = user.Id}, htmlAttributes: new {@id = "saveBtn", @class = "btn btn-primary btn-lg btn-block"}) </td>
                        }
                        else
                        {
                            <td>OK</td>
                        }
                    </tr>
                    index++;
                }
                else
                {
                    <tr class="alt">
                        <td>
                            @user.UserName
                        </td>
                            
                        @if (!PayedController.Payed(user.Id))
                        {
                            <td> @Html.ActionLink("Zaplaceno", "SubmitPayment", "Admin", routeValues: new {userId = user.Id}, htmlAttributes: new {@id = "saveBtn", @class = "btn btn-primary btn-lg btn-block"}) </td>
                        }
                        else
                        {
                            <td>OK</td>
                        }
                    </tr>
                    index = 0;
                }
            }
        </tbody>
    </table>
</div>

